flows_raspberrypi.json
[{"id":"ad4bf59f.f1bab8","type":"tab","label":"Main","disabled":false,"info":""},{"id":"aac89387.fdb22","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"b9ff8fcd.116b5","type":"mqtt-broker","z":"","name":"rpi","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b4d2b120.de50c","type":"alarm-clock","z":"","name":"clock1"},{"id":"9390c06e.6df53","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"a1882fda.55476","type":"ui_group","z":"","name":"Desk","tab":"9390c06e.6df53","disp":true,"width":"6","collapse":false},{"id":"6d6e6ab0.bc3c74","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5f5c1da1.6f0114","type":"ui_group","z":"","name":"Amplifier","tab":"9390c06e.6df53","disp":true,"width":"6","collapse":false},{"id":"853f632b.05a83","type":"ui_group","z":"","name":"Weather","tab":"9390c06e.6df53","disp":true,"width":"6","collapse":false},{"id":"e1f5865.3ac8078","type":"trigger","z":"ad4bf59f.f1bab8","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"30","extend":false,"units":"s","reset":"1","bytopic":"all","name":"","x":390,"y":100,"wires":[["99e7bf45.ff47a"]]},{"id":"99e7bf45.ff47a","type":"mqtt out","z":"ad4bf59f.f1bab8","name":"","topic":"desklight/power/set","qos":"","retain":"","broker":"b9ff8fcd.116b5","x":670,"y":100,"wires":[]},{"id":"1a5a13e0.8720ec","type":"switch","z":"ad4bf59f.f1bab8","name":"if \"1\"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":140,"wires":[["99e7bf45.ff47a"]]},{"id":"9c1156c5.f4e588","type":"mqtt in","z":"ad4bf59f.f1bab8","name":"","topic":"backlight/power","qos":"2","broker":"b9ff8fcd.116b5","x":160,"y":160,"wires":[["1a5a13e0.8720ec","e1f5865.3ac8078","349ad570.b6937a","ed140478.f464e8","643b1785.86ba68"]]},{"id":"725363fc.59784c","type":"function","z":"ad4bf59f.f1bab8","name":"timeToSeconds","func":"var re = /(\\d+):(\\d+)(?::(\\d+))/;\nvar match = msg.payload.time.match(re);\nif(match){\n    hours = parseInt(match[1], 10);\n    mins = parseInt(match[2], 10);\n    secs = 0;\n    if(match[3] !== \"\"){\n        secs = parseInt(match[3], 10);\n    }\n    //msg.payload.timestr = msg.payload.time;\n    msg.payload.timestr = hours + \":\";\n    if(mins.toString().length == 1){\n        msg.payload.timestr += '0';\n    }\n    msg.payload.timestr += mins;\n    //msg.payload.time = (hours*60+mins)*60 + secs;\n    msg.payload.time = (hours*60+mins)*60;\n    msg.payload.hour = hours;\n    msg.payload.minute = mins;\n    msg.payload.second = secs;\n    return msg\n}","outputs":1,"noerr":0,"x":660,"y":480,"wires":[["2c3e554c.3555ea","615a4617.ef4888","80d8e8fc.decbb8"]]},{"id":"2c3e554c.3555ea","type":"alarm-set","z":"ad4bf59f.f1bab8","clock":"b4d2b120.de50c","x":860,"y":480,"wires":[]},{"id":"183446b6.38c219","type":"alarm-emitter","z":"ad4bf59f.f1bab8","name":"","clock":"b4d2b120.de50c","offset":"0","x":210,"y":580,"wires":[["abe349dc.797488"]]},{"id":"9604e7b5.e09268","type":"comment","z":"ad4bf59f.f1bab8","name":"Devices auto power","info":"Automatically turn off devices when the monitor has been turned off","x":170,"y":40,"wires":[]},{"id":"6141c785.a548c8","type":"comment","z":"ad4bf59f.f1bab8","name":"Alarm clock","info":"Set an alarm with a POST request to /alarm/set.\nBody:\n{\"time\":\"6:30\"}","x":210,"y":420,"wires":[]},{"id":"7f8d1599.ae989c","type":"mqtt in","z":"ad4bf59f.f1bab8","name":"","topic":"alarm/time/set","qos":"2","broker":"b9ff8fcd.116b5","x":210,"y":480,"wires":[["ff0fd75e.4a1818"]]},{"id":"ff0fd75e.4a1818","type":"change","z":"ad4bf59f.f1bab8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.time","tot":"msg"},{"t":"set","p":"payload.disabled","pt":"msg","to":"alarm.disabled","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":480,"wires":[["725363fc.59784c"]]},{"id":"7686612a.6315","type":"mqtt out","z":"ad4bf59f.f1bab8","name":"","topic":"desklight/power/set","qos":"","retain":"","broker":"b9ff8fcd.116b5","x":670,"y":580,"wires":[]},{"id":"abe349dc.797488","type":"change","z":"ad4bf59f.f1bab8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":580,"wires":[["7686612a.6315"]]},{"id":"615a4617.ef4888","type":"template","z":"ad4bf59f.f1bab8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.timestr}}","output":"str","x":860,"y":520,"wires":[["9ba31301.b9536"]]},{"id":"9ba31301.b9536","type":"mqtt out","z":"ad4bf59f.f1bab8","name":"","topic":"alarm/time","qos":"","retain":"true","broker":"b9ff8fcd.116b5","x":1030,"y":520,"wires":[]},{"id":"6385489f.4e7d68","type":"mqtt in","z":"ad4bf59f.f1bab8","name":"","topic":"alarm/active/set","qos":"2","broker":"b9ff8fcd.116b5","x":200,"y":680,"wires":[["4909c48b.4be84c"]]},{"id":"8e9a0914.4beb78","type":"alarm-set","z":"ad4bf59f.f1bab8","clock":"b4d2b120.de50c","x":980,"y":680,"wires":[]},{"id":"a124a3ea.95a74","type":"change","z":"ad4bf59f.f1bab8","name":"","rules":[{"t":"set","p":"alarm.disabled","pt":"global","to":"$not($number(payload))","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.disabled","pt":"msg","to":"alarm.disabled","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":680,"wires":[["8e9a0914.4beb78","29a464c.026359c"]]},{"id":"4909c48b.4be84c","type":"switch","z":"ad4bf59f.f1bab8","name":"one of [01]","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"[01]","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":1,"x":390,"y":680,"wires":[["a124a3ea.95a74","4e1afe32.ab4f2"]]},{"id":"4e1afe32.ab4f2","type":"mqtt out","z":"ad4bf59f.f1bab8","name":"","topic":"alarm/active","qos":"","retain":"","broker":"b9ff8fcd.116b5","x":650,"y":720,"wires":[]},{"id":"29a464c.026359c","type":"debug","z":"ad4bf59f.f1bab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":740,"wires":[]},{"id":"80d8e8fc.decbb8","type":"debug","z":"ad4bf59f.f1bab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":440,"wires":[]},{"id":"251ebabc.b452d6","type":"mqtt out","z":"ad4bf59f.f1bab8","name":"","topic":"amplifier/mute/set","qos":"","retain":"","broker":"b9ff8fcd.116b5","x":670,"y":200,"wires":[]},{"id":"6bca5ff5.c79e","type":"mqtt out","z":"ad4bf59f.f1bab8","name":"","topic":"amplifier/power/set","qos":"","retain":"","broker":"b9ff8fcd.116b5","x":730,"y":260,"wires":[]},{"id":"349ad570.b6937a","type":"trigger","z":"ad4bf59f.f1bab8","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"10","extend":false,"units":"s","reset":"1","bytopic":"all","name":"","x":390,"y":260,"wires":[["6bca5ff5.c79e"]]},{"id":"ed140478.f464e8","type":"switch","z":"ad4bf59f.f1bab8","name":"if \"1\"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":300,"wires":[["f9acd336.59de4"]]},{"id":"643b1785.86ba68","type":"change","z":"ad4bf59f.f1bab8","name":"Invert state","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload = \"1\" ? \"0\" : \"1\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":200,"wires":[["251ebabc.b452d6"]]},{"id":"f9acd336.59de4","type":"time-range-switch","z":"ad4bf59f.f1bab8","name":"","lat":"","lon":"","startTime":"6:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":530,"y":300,"wires":[["6bca5ff5.c79e"],[]]},{"id":"bea47112.3900d","type":"ui_switch","z":"aac89387.fdb22","name":"Desklight power","label":"Lights","group":"a1882fda.55476","order":2,"width":"2","height":"1","passthru":false,"decouple":"true","topic":"desklight/power/set","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":640,"y":240,"wires":[["f100d833.833408"]]},{"id":"f100d833.833408","type":"mqtt out","z":"aac89387.fdb22","name":"","topic":"","qos":"","retain":"","broker":"b9ff8fcd.116b5","x":950,"y":240,"wires":[]},{"id":"65f2970b.307ec8","type":"ui_colour_picker","z":"aac89387.fdb22","name":"Ambilight color","label":"","group":"a1882fda.55476","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":5,"width":"1","height":"1","passthru":false,"topic":"ambilight/color/set","x":480,"y":320,"wires":[["e3188171.a7e7b"]]},{"id":"e3188171.a7e7b","type":"template","z":"aac89387.fdb22","name":"#color","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#{{payload}}","output":"str","x":670,"y":320,"wires":[["f100d833.833408"]]},{"id":"f0522240.db747","type":"ui_slider","z":"aac89387.fdb22","name":"Desklight brightness","label":"","group":"a1882fda.55476","order":3,"width":"4","height":"1","passthru":false,"topic":"desklight/brightness/set","min":0,"max":"100","step":1,"x":620,"y":280,"wires":[["f100d833.833408"]]},{"id":"5e54ab36.fc9194","type":"ui_dropdown","z":"aac89387.fdb22","name":"Ambilight power","label":"Ambilight","place":"Select option","group":"a1882fda.55476","order":4,"width":"5","height":"1","passthru":false,"options":[{"label":"on","value":"1","type":"str"},{"label":"off","value":"0","type":"str"},{"label":"auto","value":"-1","type":"str"}],"payload":"","topic":"ambilight/power/set","x":640,"y":360,"wires":[["f100d833.833408"]]},{"id":"b520e7f8.6530c8","type":"mqtt in","z":"aac89387.fdb22","name":"","topic":"desklight/power","qos":"2","broker":"b9ff8fcd.116b5","x":440,"y":240,"wires":[["bea47112.3900d"]]},{"id":"a1c7e9f.13d5818","type":"mqtt in","z":"aac89387.fdb22","name":"","topic":"desklight/brightness","qos":"2","broker":"b9ff8fcd.116b5","x":390,"y":280,"wires":[["f0522240.db747"]]},{"id":"cd916ac3.86cc38","type":"mqtt in","z":"aac89387.fdb22","name":"","topic":"ambilight/color","qos":"2","broker":"b9ff8fcd.116b5","x":290,"y":320,"wires":[["65f2970b.307ec8"]]},{"id":"11318604.d8d09a","type":"mqtt in","z":"aac89387.fdb22","name":"","topic":"ambilight/power","qos":"2","broker":"b9ff8fcd.116b5","x":440,"y":360,"wires":[["5e54ab36.fc9194"]]},{"id":"db877316.1e15c","type":"ui_slider","z":"aac89387.fdb22","name":"Backlight brightness","label":"Backlight","group":"a1882fda.55476","order":1,"width":0,"height":0,"passthru":false,"topic":"backlight/brightness/set","min":0,"max":"100","step":1,"x":620,"y":400,"wires":[["f100d833.833408"]]},{"id":"cfa4fa4e.d5ee78","type":"mqtt in","z":"aac89387.fdb22","name":"","topic":"backlight/brightness","qos":"2","broker":"b9ff8fcd.116b5","x":390,"y":400,"wires":[["db877316.1e15c"]]},{"id":"9357198a.923678","type":"mqtt in","z":"aac89387.fdb22","name":"","topic":"amplifier/power","qos":"2","broker":"b9ff8fcd.116b5","x":440,"y":480,"wires":[["9739730f.80179"]]},{"id":"9739730f.80179","type":"ui_switch","z":"aac89387.fdb22","name":"Amplifier power","label":"Power","group":"5f5c1da1.6f0114","order":1,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"amplifier/power/set","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":640,"y":480,"wires":[["f100d833.833408"]]},{"id":"6f8e92da.e8554c","type":"mqtt in","z":"aac89387.fdb22","name":"","topic":"amplifier/mute","qos":"2","broker":"b9ff8fcd.116b5","x":450,"y":520,"wires":[["f8775fc4.6132f"]]},{"id":"f8775fc4.6132f","type":"ui_switch","z":"aac89387.fdb22","name":"Amplifier mute","label":"Mute","group":"5f5c1da1.6f0114","order":1,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"amplifier/mute/set","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":640,"y":520,"wires":[["f100d833.833408"]]},{"id":"494b0ee8.f581","type":"buienradar","z":"aac89387.fdb22","name":"","station":"6356","interval":"600000","forecast":true,"x":450,"y":640,"wires":[["7918b4a7.2c778c","47a1f8db.ee48a8","4b5a299.73dc4d8"]]},{"id":"b72429cc.be30b8","type":"ui_gauge","z":"aac89387.fdb22","name":"","group":"853f632b.05a83","order":0,"width":"5","height":"5","gtype":"donut","title":"","label":"Humidity","format":"{{value}}%","min":0,"max":"100","colors":["#1565c0","#1565c0","#1565c0"],"seg1":"","seg2":"","x":870,"y":640,"wires":[]},{"id":"7918b4a7.2c778c","type":"change","z":"aac89387.fdb22","name":"","rules":[{"t":"move","p":"payload.buienradar.luchtvochtigheid","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":640,"wires":[["b72429cc.be30b8"]]},{"id":"47a1f8db.ee48a8","type":"change","z":"aac89387.fdb22","name":"","rules":[{"t":"move","p":"payload.buienradar.temperatuurGC","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":680,"wires":[["399b68d1.76c6f8"]]},{"id":"399b68d1.76c6f8","type":"ui_chart","z":"aac89387.fdb22","name":"","group":"853f632b.05a83","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":890,"y":680,"wires":[[],[]]},{"id":"29a77c85.305a14","type":"ui_gauge","z":"aac89387.fdb22","name":"Wind direction","group":"853f632b.05a83","order":0,"width":0,"height":0,"gtype":"compass","title":"","label":"{{msg.speed}}m/s","format":"{{msg.payload}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":760,"wires":[]},{"id":"4b5a299.73dc4d8","type":"function","z":"aac89387.fdb22","name":"WindDirection","func":"var direction = msg.payload.buienradar.windrichting;\nvar speed = msg.payload.buienradar.windsnelheidMS;\nvar points = {\n    'N': 0,\n    'O': 90,\n    'Z': 180,\n    'W': 270\n}\nif(direction.indexOf('W') != -1){\n    points['N'] = 360;\n}\nvar score = 0;\nfor(var i=0; i<direction.length; i++){\n  score += points[direction.charAt(i)]\n}\nmsg.payload = score / direction.length;\nmsg.speed = speed;\nmsg.payload.direction = direction;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":760,"wires":[["29a77c85.305a14","cd260ca3.945ec"]]},{"id":"cd260ca3.945ec","type":"debug","z":"aac89387.fdb22","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":800,"wires":[]}]